# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

resources:
- repo: self
  clean: true

trigger:
- master

pool:
  vmImage: 'win1803'

steps:
- powershell: Install-Module PSDepend -Scope CurrentUser -Force
  displayName: 'Install PSDepend'
  name: install_psdepend
  workingDirectory: $(build.sourcesDirectory)

- powershell: Invoke-PSDepend -Path "build/Requirements.psd1" -Verbose -Force
  displayName: 'I2stall other pre-requisites using PSDepend'
  name: invoke_psdepend
  workingDirectory: $(build.sourcesDirectory)

- powershell: Invoke-Build "build/build.ps1" -Task . -Verbose
  displayName: 'Run build script'
  name: run_build
  workingDirectory: $(build.sourcesDirectory)

- task: PublishTestResults@2
  inputs:
    testRunner: 'NUnit'
    testResultsFiles: '**/artifacts/PesterResults.xml'
  displayName: 'Publish Test Results'
