# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

resources:
- repo: self
  clean: true

# name: $(Date:yyyyMMdd)$(Hours)

trigger:
- master

pool:
  vmImage: 'windows-latest'

steps:
- task: PowerShell@2
  displayName: 'Build and publish module'
  inputs:
    filePath: 'build/build.ps1'
    arguments: '-Publish -Verbose'
  env:
    PSGalleryApiKey: $($PSGalleryApiKey)

# https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-test-results?view=vsts&tabs=yaml
- task: PublishTestResults@2
  displayName: 'Publish Test Results'
  inputs:
    testRunner: 'NUnit'
    testResultsFiles: '**/artifacts/PesterResults.xml'

# https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/pipeline-artifacts?view=vsts&tabs=yaml
- task: PublishPipelineArtifact@0
  inputs:
    artifactName: 'module'
    targetPath: 'artifacts/Ldap'
